<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="footer">
    <!-- Footer fragment starts here -->
        <footer class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                    <small class="d-block mb-3 text-muted">© 2021, Nikita Shcherbakov</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Ресурсы</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://github.com/nikshcherbakov/vacancies-finder">Github</a></li>
                        <li><a class="text-muted" href="https://t.me/vacancies_finder_bot">Telegram бот</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Сервисы</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://developers.google.com/maps">Google Maps Api</a></li>
                        <li><a class="text-muted" href="https://github.com/hhru/api">HeadHunter Api</a></li>
                        <li><a class="text-muted" href="https://core.telegram.org/bots/api">Telegram Api</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Технологии</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://spring.io/">Spring</a></li>
                        <li><a class="text-muted" href="https://www.thymeleaf.org/">Thymeleaf</a></li>
                        <li><a class="text-muted" href="https://www.postgresql.org/">PostgreSQL</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Связь с автором</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://vk.com/id245904943">Вконтакте</a></li>
                        <li><a class="text-muted" href="https://www.instagram.com/nik_shcherbackow/">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    <!-- End of footer fragment -->
    </div>
</body>
</html>