.container {
  max-width: 960px;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

p.phone-logo {
  font-size: 14pt;
  overflow: hidden;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: rotate(270deg);
}

img.feature-thumbnail-1 {
  max-width: 100%;
  max-height: 100%;
}

img.feature-thumbnail-2 {
  text-align: center;
  padding-top: 25px;
  width: 250px;
}

h2.info-heading {
  padding: 100px 100px 50px;
}

p.info-regular {
  padding: 0 100px 100px;
}

.account-form {
  padding: 50px 100px 50px;
}

.account-form > h1 {
  padding-bottom: 30px;
}

.account-form-default-bottom-padding {
  padding-bottom: 1.7rem;
}

/* Header styles */
nav {
  width: 100%;
  background: rgba(0, 0, 0, .85);
}

nav a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  transition: .5s linear;
}

nav ul {
  list-style: none;
  padding: 0;
  max-width: 960px;
  text-align: center;
  display: block;
  margin: auto;
}
.header-items > li {
  display: inline-block;
  position: relative;
  margin: 0 50px 0 0;
}
.header-items > li:last-child {
  margin-right: 0;
}

.header .header-item-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: rgba(0, 0, 0, .85);
}

.header ul li:hover .header-item-submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.header ul a {
  color: #999;
  transition: ease-in-out color .15s;
  text-decoration: none;
}

.header ul a:hover {
  color: #fff;
}

.header-item-submenu li a {
  color: #999;
  width: 50%;
  text-align: left;
}

.header-item-submenu li a:hover {
  color: #fff;
}

a.disabled {
  pointer-events: none;
}

svg.navbar-logo {
  margin-top: -8px;
}

div.vacancies-table {
  width: 100%;
  overflow: auto;
}
