<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account - Vacancies Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="css/product.css" rel="stylesheet">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <form class="account-form" th:action="@{/account}" th:object="${userForm}" method="post" id="">
        <p th:if="${savedSuccessfully}" class="alert alert-info" role="alert">
            Ваши изменения были успешно сохранены
        </p>
        <p th:if="${savedSuccessfully == false}" class="alert alert-danger" role="alert">
            К сожалению, ваши изменения не были сохранены
        </p>
        <p th:if="${telegramIsNotDefined}" class="alert alert-danger" role="alert">
            Для telegram рассылки необходимо указать идентификатор telegram
        </p>
        <p th:if="${telegramIsTaken}" class="alert alert-danger" role="alert">
            Указанный идентификатор Telegram уже используется!
        </p>
        <p th:if="${mailingIsActive == false}" class="alert alert-info" role="alert">
            Для запуска поиска вакансий и рассылки, пожалуйста, добавьте поисковые фильтры, укажите
            зарплату, или добавьте Ваше местоположение
        </p>

        <h1>Личный кабинет</h1>

        <!--Email row-->
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Логин (e-mail)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Ваш e-mail"
                       th:field="*{username}" readonly>
            </div>
        </div>
        <!--Email checker-->
        <div class="form-group row">
            <label for="sendByEmailChecker" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="sendByEmailChecker"
                           th:field="*{useEmail}">
                    <label class="form-check-label" for="sendByEmailChecker">
                        Использовать e-mail при рассылке подобранных вакансий
                    </label>
                </div>
            </div>
        </div>

        <!--Password row-->
        <div class="form-group row">
            <label for="changePassword" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <div id="changePassword" class="form-control-plaintext">
                    <a th:href="@{/changePassword}">Сменить пароль</a>
                </div>
            </div>
        </div>

        <!--Telegram row-->
        <div class="form-group row">
            <label for="telegram" class="col-sm-2 col-form-label">Telegram</label>
            <div class="col-sm-10">

                <label class="sr-only" for="telegram">Telegram</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="text" class="form-control" id="telegram" th:field="*{telegram}"
                           placeholder="Укажите ваш идентификатор telegram, например @mytelegram"/>
                </div>
            </div>
        </div>
        <!--  Telegram checker  -->
        <div class="form-group row">
            <label for="sendByEmailChecker" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=""
                            id="sendByTelegramChecker" th:field="*{useTelegram}">
                    <label class="form-check-label" for="sendByTelegramChecker">
                        Использовать Telegram при рассылке подобранных вакансий
                    </label>
                    <label>
                        <input style="font-size: 10pt" th:if="${userForm.useTelegram}" type="text" class="form-control-plaintext"
                               th:value="'Чтобы получать рассылку на Telegtam, найдите бота ' + ${botName} + ' и напишите /start'">
                    </label>
                </div>
            </div>
        </div>

        <!--Location row-->
        <div class="form-group row">
            <label for="chooseLocation" class="col-sm-2 col-form-label">Место жительства</label>
            <div class="col-sm-10">
                <input type="text" id="chooseLocation" class="form-control-plaintext"
                value="Укажите Ваше место жительства на карте">
            </div>
        </div>
        <div class="form-group row">
            <label for="googleMaps" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div id="googleMaps" style="height: 400px;"></div>
            </div>
        </div>

        <input type="hidden" id="googleMapsLat" placeholder="Широта" th:field="*{latitude}">
        <input type="hidden" id="googleMapsLong" placeholder="Долгота" th:field="*{longitude}">

        <!--Travel time row-->
        <div class="form-group row">
            <label for="travelTime" class="col-sm-2 col-form-label">Время в пути</label>
            <div class="col-sm-10">
                <select th:field="*{travelTimeInMins}" class="custom-select mr-sm-2" id="travelTime">
                    <option th:value="0">Не имеет значения</option>
                    <option th:value="15">Не более 15 минут</option>
                    <option th:value="30">Не более 30 минут</option>
                    <option th:value="45">Не более 45 минут</option>
                    <option th:value="60">Не более 1 часа</option>
                    <option th:value="75">Не более 1 часа 15 минут</option>
                    <option th:value="90">Не более 1 часа 30 минут</option>
                    <option th:value="105">Не более 1 часа 45 минут</option>
                    <option th:value="120">Не более 2 часов</option>
                    <option th:value="180">Не более 3 часов</option>
                </select>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios"
                               id="travelByCar" th:field="*{travelBy}" th:value="'car'">
                        <label class="form-check-label" for="travelByCar">На машине</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios"
                               id="travelByPublicTransport" th:field="*{travelBy}"
                               th:value="'public_transport'">
                        <label class="form-check-label" for="travelByPublicTransport">
                            На общественном транспорте
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios"
                               id="travelByWalking" th:field="*{travelBy}" th:value="'walking'">
                        <label class="form-check-label" for="travelByWalking">
                            Пешком
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <!--Salary row-->
        <div class="form-group row">
            <label for="salary" class="col-sm-2 col-form-label">Желаемая зарплата</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="salary"
                       pattern="[0-9]+" placeholder="Укажите желаемую заработную плату"
                       th:field="*{salaryValue}">
            </div>
            <div class="col-sm-3">
                <label for="currency"></label>
                <select th:field="*{currency}" class="custom-select mr-sm-2" id="currency">
                    <option th:value="'RUB'">RUB</option>
                    <option th:value="'USD'">USD</option>
                    <option th:value="'EURO'">EURO</option>
                </select>
            </div>
        </div>

        <!--Search filters-->
        <div class="form-group row">
            <label for="searchFiltersInput" class="col-sm-2 col-form-label">Поисковые фильтры</label>
            <div class="col-sm-10">
                <input type="hidden" id="searchFiltersInput" th:field="*{searchFilters}">
                <table id="searchFiltersTable" class="table">
                    <tr>
                        <td>#</td>
                        <td>Фильтр</td>
                        <td>Действия</td>
                    </tr>
                </table>
            </div>
            <label for="addFilter" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="button" class="btn btn-secondary" id="addFilter" value="Добавить фильтр"
                       onclick="insRow()" />
            </div>
        </div>

        <!-- Logout -->
        <div class="form-group row">
            <label for="logout" class="col-sm-2 col-form-label">Выход из аккаунта</label>
            <div class="col-sm-10">
                <div id="logout" class="form-control-plaintext">
                    <a th:href="@{/logout}" th:text="'Выйти из аккаунта ' + ${userForm.username}"></a>
                </div>
            </div>
        </div>

        <!--Submit button-->
        <button type="submit" class="btn btn-primary" id="submitButton" disabled>
            Сохранить изменения
        </button>
    </form>

    <div th:replace="fragments/footer :: footer"></div>

    <!--Javascript files for this page-->
    <script th:src="@{/js/account-page.js}"></script>
    <script th:src="'https://maps.google.com/maps/api/js?key=' + ${googleMapsApiKey} + '&sensor=false&libraries=places'"></script>
    <script src='https://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js'></script>
    <script th:src="@{/js/google-maps.js}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
