<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign up - Vacancies Finder</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>
<body wfd-invisible="true">
<div class="container">
    <form class="form-signin" method="post"
          th:action="@{/changePassword(user=${changePasswordForm.username}, hash=${changePasswordForm.hashValue})}"
          th:object="${changePasswordForm}">
        <h2 class="form-signin-heading">Смена пароля</h2>

        <input type="hidden" id="username" th:field="*{username}" required>
        <input type="hidden" id="hashValue" th:field="*{hashValue}" required>

        <div th:if="${passwordDoesNotMatchPasswordConfirm}" class="alert alert-danger" role="alert">
            Пароль не соответствует подтверждению пороля!
        </div>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" th:field="*{password}" id="password" name="password" class="form-control" placeholder="New Password" required="">
        </p>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger" role="alert">
            Ошибка в пароле
        </div>
        <p>
            <label for="passwordConfirm" class="sr-only">Password Confirm</label>
            <input type="password" th:field="*{passwordConfirm}" id="passwordConfirm" name="password" class="form-control" placeholder="New password Confirm" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Сменить пароль</button>
    </form>
</div>
<iframe style="border: 0; height: 50px; width: 48px; left: 871px; top: 96px; z-index: 2147483647; position: absolute;" src="chrome-extension://ahkjpbeeocnddjkakilopmfdlnjdpcdm/snapshot_resources/kpm/kpm_promo_balloon.html?id=13390"></iframe></body></html>