<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - Vacancies Finder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link href="css/product.css" rel="stylesheet">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="form-signin">
    <h2 class="info-heading">Ошибка на сервере...</h2>
    <p class="info-regular">
        К сожалению, на сервере произошла ошибка. Пожалуйста, попробуйте позже...
    </p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>