<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Index Page</title>-->
<!--</head>-->
<!--<body>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <h1>Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
<!--        <form th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Sign Out"/>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div sec:authorize="isAnonymous()">-->
<!--        <h1>Hello anonymous!</h1>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Home Page - Vacancies Finder</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/product/">

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/product.css" rel="stylesheet">
</head>

<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Vacancies Finder</h1>
            <p class="lead font-weight-normal">Проект, который поможет вам найти подходящую вакансию в удонбом месте с достойной заработной платой</p>
        </div>
        <a class="btn btn-outline-secondary" href="/signup">Попробовать сейчас</a>
        <div class="product-device box-shadow d-none d-md-block">
            <p class="phone-logo">Vacancies Finder</p>
        </div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Бесплатная рассылка</h2>
                <p class="lead">Получайте рассылку с предложениями о работе на E-mail или Telegram</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="feature-thumbnail-1" th:src="@{/images/mail.png}" alt="Mail">
            </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Навигация</h2>
                <p class="lead">Укажите свое местоположение и сервис будет рассчитывать время до потенциальной работы</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="feature-thumbnail-1" th:src="@{/images/navigation.png}" alt="Navigation">
            </div>
        </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">Только интересные предложения</h2>
                <p class="lead">Укажите фильтры, которые вас интересуют и мы будем искать вакансии для вас</p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="feature-thumbnail-2" th:src="@{/images/filter.png}" alt="Filter">
            </div>
        </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Пожелания по зарплате</h2>
                <p class="lead">Укажите желаемую заработную плату и мы будем учитывать ее при подборе вакансий</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                <img class="feature-thumbnail-2" th:src="@{/images/wallet.png}" alt="Email and Telegram">
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>


</body>
</html>